### List operations

In [1]:
liste = ['banana', 'apple', 'orange', 'mangue', 'cherry', 'ananas', 'melon', 'pasta', 'tomatos']

In [2]:
liste.insert(2, 'oignon')

In [3]:
liste.insert(3, 'watermelon')

In [4]:
liste

['banana',
 'apple',
 'oignon',
 'watermelon',
 'orange',
 'mangue',
 'cherry',
 'ananas',
 'melon',
 'pasta',
 'tomatos']

In [5]:
idx_liste = [idx*2 for idx, _ in enumerate(liste) if idx%2 == 0]

In [6]:
idx_liste

[0, 4, 8, 12, 16, 20]

In [7]:
liste.append('salade')

In [8]:
liste.append('pattate')

In [9]:
print(len(liste))

13

In [10]:
new_liste = ['Abdoul', 'Rachid', 'Souleymana', 'Ali', 'Marzouk', 'Farida', 'Khalifa', 'Nasifou', 'Said']

In [11]:
liste.extend(new_liste)

In [12]:
print(liste)

['banana', 'apple', 'oignon', 'watermelon', 'orange', 'mangue', 'cherry', 'ananas', 'melon', 'pasta', 'tomatos', 'salade', 'pattate', 'Abdoul', 'Rachid', 'Souleymana', 'Ali', 'Marzouk', 'Farida', 'Khalifa', 'Nasifou', 'Said']

In [13]:
tuple_idx_item = [(idx, item) for idx, item in enumerate(liste)]
tuple_idx_item

[(0, 'banana'),
 (1, 'apple'),
 (2, 'oignon'),
 (3, 'watermelon'),
 (4, 'orange'),
 (5, 'mangue'),
 (6, 'cherry'),
 (7, 'ananas'),
 (8, 'melon'),
 (9, 'pasta'),
 (10, 'tomatos'),
 (11, 'salade'),
 (12, 'pattate'),
 (13, 'Abdoul'),
 (14, 'Rachid'),
 (15, 'Souleymana'),
 (16, 'Ali'),
 (17, 'Marzouk'),
 (18, 'Farida'),
 (19, 'Khalifa'),
 (20, 'Nasifou'),
 (21, 'Said')]

In [14]:
liste.extend(('Niger', 'France', 'Maroc'))

In [15]:
tuple_idx_item = [(idx, item) for idx, item in enumerate(liste)]
tuple_idx_item

[(0, 'banana'),
 (1, 'apple'),
 (2, 'oignon'),
 (3, 'watermelon'),
 (4, 'orange'),
 (5, 'mangue'),
 (6, 'cherry'),
 (7, 'ananas'),
 (8, 'melon'),
 (9, 'pasta'),
 (10, 'tomatos'),
 (11, 'salade'),
 (12, 'pattate'),
 (13, 'Abdoul'),
 (14, 'Rachid'),
 (15, 'Souleymana'),
 (16, 'Ali'),
 (17, 'Marzouk'),
 (18, 'Farida'),
 (19, 'Khalifa'),
 (20, 'Nasifou'),
 (21, 'Said'),
 (22, 'Niger'),
 (23, 'France'),
 (24, 'Maroc')]

In [16]:
liste.remove('Maroc')

In [17]:
liste.pop(23)

'France'

In [18]:
liste.extend(('France', 'Maroc'))

In [19]:
rmv_item = liste.remove('Maroc')

In [21]:
rmv_item

In [22]:
rmv_item =liste.pop(23)

In [23]:
rmv_item

'France'

In [24]:
liste

['banana',
 'apple',
 'oignon',
 'watermelon',
 'orange',
 'mangue',
 'cherry',
 'ananas',
 'melon',
 'pasta',
 'tomatos',
 'salade',
 'pattate',
 'Abdoul',
 'Rachid',
 'Souleymana',
 'Ali',
 'Marzouk',
 'Farida',
 'Khalifa',
 'Nasifou',
 'Said',
 'Niger']

In [25]:
liste.pop()

'Niger'

In [26]:
del liste[-1]

In [27]:
new_liste.clear()

In [28]:
new_liste

[]

In [29]:
for item in liste:
    print(item)

banana
apple
oignon
watermelon
orange
mangue
cherry
ananas
melon
pasta
tomatos
salade
pattate
Abdoul
Rachid
Souleymana
Ali
Marzouk
Farida
Khalifa
Nasifou

In [30]:
for charactor in 'banana':
    print(charactor)

b
a
n
a
n
a

In [31]:
for item in liste:
    if item == 'Rachid':
        continue
    print(item)

banana
apple
oignon
watermelon
orange
mangue
cherry
ananas
melon
pasta
tomatos
salade
pattate
Abdoul
Souleymana
Ali
Marzouk
Farida
Khalifa
Nasifou

In [32]:
for item in liste:
    if item == 'Rachid':
        break
    print(item)

banana
apple
oignon
watermelon
orange
mangue
cherry
ananas
melon
pasta
tomatos
salade
pattate
Abdoul

In [33]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [34]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [35]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [36]:
for x in range(6):
    print(x)
else:
    print('Finally finished')

0
1
2
3
4
5
Finally finished

In [37]:
adj = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'cherry']

for x in adj:
    for y in fruits:
        print((x,y))

('red', 'apple')
('red', 'banana')
('red', 'cherry')
('big', 'apple')
('big', 'banana')
('big', 'cherry')
('tasty', 'apple')
('tasty', 'banana')
('tasty', 'cherry')

In [38]:
for i in range(len(liste)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [39]:
for i in range(len(liste)):
    print(liste[i])

banana
apple
oignon
watermelon
orange
mangue
cherry
ananas
melon
pasta
tomatos
salade
pattate
Abdoul
Rachid
Souleymana
Ali
Marzouk
Farida
Khalifa
Nasifou

In [40]:
i = 0
while i < len(liste):
    print(liste[i])
    i +=1

banana
apple
oignon
watermelon
orange
mangue
cherry
ananas
melon
pasta
tomatos
salade
pattate
Abdoul
Rachid
Souleymana
Ali
Marzouk
Farida
Khalifa
Nasifou

In [41]:
[print(x) for x in liste]

banana
apple
oignon
watermelon
orange
mangue
cherry
ananas
melon
pasta
tomatos
salade
pattate
Abdoul
Rachid
Souleymana
Ali
Marzouk
Farida
Khalifa
Nasifou

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [42]:
for x in liste:
    if 'a' in x:
        new_liste.append(x)

print(new_liste)

['banana', 'apple', 'watermelon', 'orange', 'mangue', 'ananas', 'pasta', 'tomatos', 'salade', 'pattate', 'Rachid', 'Souleymana', 'Marzouk', 'Farida', 'Khalifa', 'Nasifou']

In [43]:
new_second_list = []
[new_second_list.append(x) for x in liste if 'n' in x]

[None, None, None, None, None, None, None, None]

In [44]:
print(new_second_list)

['banana', 'oignon', 'watermelon', 'orange', 'mangue', 'ananas', 'melon', 'Souleymana']

In [45]:
[new_second_list.append(x.upper()) for x in liste]
new_second_list

['banana',
 'oignon',
 'watermelon',
 'orange',
 'mangue',
 'ananas',
 'melon',
 'Souleymana',
 'BANANA',
 'APPLE',
 'OIGNON',
 'WATERMELON',
 'ORANGE',
 'MANGUE',
 'CHERRY',
 'ANANAS',
 'MELON',
 'PASTA',
 'TOMATOS',
 'SALADE',
 'PATTATE',
 'ABDOUL',
 'RACHID',
 'SOULEYMANA',
 'ALI',
 'MARZOUK',
 'FARIDA',
 'KHALIFA',
 'NASIFOU']

In [46]:
new_third_liste = [x if x != 'banana' else 'orange' for x in fruits]

In [53]:
new_second_list.sort()
new_second_list

['ABDOUL',
 'ALI',
 'ANANAS',
 'APPLE',
 'BANANA',
 'CHERRY',
 'FARIDA',
 'KHALIFA',
 'MANGUE',
 'MARZOUK',
 'MELON',
 'NASIFOU',
 'OIGNON',
 'ORANGE',
 'PASTA',
 'PATTATE',
 'RACHID',
 'SALADE',
 'SOULEYMANA',
 'Souleymana',
 'TOMATOS',
 'WATERMELON',
 'ananas',
 'banana',
 'mangue',
 'melon',
 'oignon',
 'orange',
 'watermelon']

In [56]:
fruits.sort()
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [57]:
list1 = ['a', 'b','c']
list2 = [1, 2, 3]

list3 = list1 + list2

In [58]:
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [59]:
list1.extend(list2)

In [60]:
list1.extend(('1', '2', '3', '4', '5', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1','1', '1', '1', '1'))

In [64]:
count_1 = list1.count('1')
count_1

17

In [66]:
myset = {'apple', 'banana', 'cherry'}
myset

{'apple', 'banana', 'cherry'}

In [67]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [68]:
print(len(thisdict))

4

In [69]:
print(thisdict['brand'])

Ford

In [70]:
this_dict = dict(brand = 'Ford', electric = False, year = 1998, corlors = ['red', 'white', 'blue'])

In [71]:
this_dict

{'brand': 'Ford',
 'electric': False,
 'year': 1998,
 'corlors': ['red', 'white', 'blue']}

In [72]:
this_dict.get('brand')

'Ford'

In [76]:
colors = this_dict.get('corlors')

In [77]:
colors

['red', 'white', 'blue']

In [79]:
dict_keys = this_dict.keys()
dict_keys

dict_keys(['brand', 'electric', 'year', 'corlors'])

In [81]:
a = 10 
b = 10

print(a) if a<b else print('=') if a==b else print(b)

=

In [82]:
x = lambda a : a + 10

print(x(10))

20

In [83]:
x = lambda a, b : a*b

print(x(10, 10))

100

In [84]:
def my_func(n):
    return lambda a : a*n

my_doubler = my_func(5)

In [85]:
print(my_doubler(10))

50

In [86]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person('Abdoul', 25)

In [87]:
print(p1.name)
print(p1.age)

Abdoul
25

In [88]:
print(p1)

<__main__.Person object at 0x000001FE489339A0>

In [92]:
class Student:
    def __init__(self, name, age, department, year):
        self.name = name
        self.age = age
        self.department = department
        self.year = year

    def __str__(self):
        return f"{self.name}---{self.age}---{self.department}---{self.year}"
    
    def my_func(self):
        print(f"The student name is {self.name} and he is {self.age}, He studies {self.department} in {self.year}")

In [94]:
Student1 = Student('Abdoul-Rachid Souleyamana', 25, 'GE', 2023)

print(Student1)

Student1.my_func()

Abdoul-Rachid Souleyamana---25---GE---2023
The student name is Abdoul-Rachid Souleyamana and he is 25, He studies GE in 2023

In [95]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [96]:
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

    def welcome(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [98]:
Student1 = Student('Abdoul', 'Rachid', 2023)

Student1.welcome()

Welcome Abdoul Rachid to the class of 2023

In [99]:
import datetime

dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [100]:
x = datetime.datetime.now()

In [101]:
print(x)

2023-09-09 21:58:48.656167

In [107]:
try:
    print(liste)
except Exception as e:
    print('something went wrong : ', str(e))
else:
    print('The try execept bloc is executed')

['Abdoul', 'Ali', 'Farida', 'Khalifa', 'Marzouk', 'Nasifou', 'Rachid', 'Souleymana', 'ananas', 'apple', 'banana', 'cherry', 'mangue', 'melon', 'oignon', 'orange', 'pasta', 'pattate', 'salade', 'tomatos', 'watermelon']
The try execept bloc is executed

In [109]:
username = input("Enter username:")
print("Username is: " + username)

Username is: Abdoul Rachid

In [111]:
def sum(a, b):
    ''' 
    >>> sum(2, 3)
    5
    >>> sum(-6, 4)
    -2
    '''
    return a+b

In [113]:
add = sum(3, 7)
add

10

In [115]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
test = list(enumerate(college_years, 2019))
test

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [117]:
data = [1, 2, 3, 4, 5]

resulted_data = list(map(lambda x : x*10, data))

resulted_data

[10, 20, 30, 40, 50]

In [122]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
resul_data = list(map(lambda x : x*10, data))
resul_data

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [124]:
"Bonjour le jour".count('jour') # commpte le nombre d'occurence dans une chaine de caratere

2

In [125]:
"je suis assis à la maison aujourd'hui dimanche".count('u')

4

In [126]:
"image.png".endswith('png')

True

In [127]:
"image.png".startswith('image')

True

In [129]:
chaine = 'bonjour' + 'tout' + 'le' + 'monde'
chaine

'bonjourtoutlemonde'

In [130]:
f"paul dit bonjour tout le monde par cette phrase{chaine}"

'paul dit bonjour tout le monde par cette phrasebonjourtoutlemonde'

In [131]:
a = 10
b = 15 
f"La multiplication de {a} par {b} nous donne {a*b}"

'La multiplication de 10 par 15 nous donne 150'

In [132]:
age = 26
nom = 'Abdoul'
prenom = 'Rachid'

print('mon nom est {}, mon prenom est {} et mon age est {}'.format(nom, prenom, age))

mon nom est Abdoul, mon prenom est Rachid et mon age est 26

In [133]:
print("j'ai {0} ans, {0} ce n'est pas trés agé".format(age))

j'ai 26 ans, 26 ce n'est pas trés agé

In [139]:
import random

r = random.randint(0, 1)
print(r)

1

In [147]:
u = random.uniform(0, 1)
print(u)

0.5178075708788993

In [149]:
chemin = r'user//abdoul//rachcid//ali'
chemin

'user//abdoul//rachcid//ali'

In [1]:
print('version 2')

version 2